New Account Request for: {{first_name}}  {{last_name}} 
--------------------------------
First Name: {{first_name}} 
Last Name: {{last_name}} 
Manager: {{mgr}} 
Lab: {{lab}} 
Job Title: {{title}}
Employee Type: {{type}} 
Start Date: {{start_dt}} 
End Date: {{end_dt}} 
Location: {{location}} 
Phone: {{phone}} 
Computer Type: {{comp}} 
--------------------------------
Notes from {{requestor}}:
{{misc_notes}} 
--------------------------------