New {{comp}} Request for: {{first_name}}  {{last_name}} 
--------------------------------
Name: {{first_name}} {{last_name}}
Lab: {{lab}} 
Employee Type: {{type}} 
Start Date: {{start_dt}} 
Location: {{location}} 
Computer Type: {{comp}} 
Computer Related Notes: {{comp_notes}}
--------------------------------
Notes from {{requestor}}:
{{misc_notes}} 
--------------------------------