New Phone Request for: {{first_name}}  {{last_name}} 
--------------------------------
Name: {{first_name}} {{last_name}}
Lab: {{lab}} 
Start Date: {{start_dt}} 
Location: {{location}} 
--------------------------------
Notes from {{requestor}}:
{{misc_notes}} 
--------------------------------